# Rust build artifacts.
/target

# Any . files or folders that are not .gitignore, .github, or .luaurc.
/.*
!/.gitignore
!/.github/
!/.luaurc

# Any markdown that is not README.md.
/*.md
!README.md

# Snapshot artifact.
__snapshots__
